
.cart-container {
    padding: 20px;
  }
  
  .cart-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .cart-item {
    margin-bottom: 20px;
  }
  
  .cart-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cart-item-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .cart-item-description {
    margin-bottom: 10px;
  }
  
  .cart-item-price {
    font-weight: bold;
  }
  
  .delete-button {
    margin-top: 10px;
  }
  
  .continue-shopping-link {
    text-decoration: none;
  }
  
  .continue-shopping-button {
    margin-top: 20px;
  }
  
  .no-products{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .delete-icon:hover {
    color: red;
  }

  .cart-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }